<h2>Contracts Form</h2>
<form [formGroup]="contractsForm" novalidate (ngSubmit)="onSubmit($event)">
  <form-group-input [control]="contractsForm" [key]="'name'"></form-group-input>
  <form-group-input [control]="contractsForm" [key]="'kana'"></form-group-input>
  <div formGroupName="address">
    <form-group-input [control]="contractsForm.get('address')" [key]="'zipcode'"></form-group-input>
    <form-group-input [control]="contractsForm.get('address')" [key]="'city'"></form-group-input>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="contractsForm.status === 'INVALID'">submit</button>
</form>
<p>Form value: {{ contractsForm.value | json }}</p>
<p>Form status: {{ contractsForm.status | json }}</p>
